body{
    background-color: darkslategrey;
    margin: 60px;
}

.paragrafo{
    color: white;
    background-color: darkolivegreen;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.linkpagina{
    color: white;
    background-color: darkgreen;
    padding:  20px;
    width: 120px;
    border-radius: 30px;
    text-decoration-color: none;
    margin-top: 30px;

}

.linkpagina a{
    color: blue;


}

.Linkpagina2{

background-color: darkgreen;
width: 120px;
padding: 20px;
border-radius: 30px;

}

.Imagen2{

margin-bottom: 30px;



}

