body{
    background-color: darkslategrey;
    margin: 60px;
}

.paragrafo{
    color: white;
    background-color: darkolivegreen;
    padding: 25px;
}

.linkpagina{
    color: white;
    background-color: darkgreen;
    padding:  20px;

}






